<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Recover Passowrd</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <div class="login">
        <p style="color: white;">Enter email to send password reset instructions.</p>

      <form>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" #email required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
              type="submit"
              (click)="authService.PasswordRecover(email.value)"
              expand="block"
            >
              Send Password Reset Mail
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </div>

  </ion-content>
</ion-content>
